<h2 class="page-header">Azure SignalR Group Chat</h2>
<div class="container" style="height: calc(100% - 110px)">
  <div id="messages" style="background-color: whitesmoke; ">
    <div class="message-entry" *ngFor="let message of messages">
      <div class="text-center system-message" *ngIf="message.name === '_SYSTEM_'">{{message.text}}</div>
      <div class="text-center" *ngIf="message.name === '_BROADCAST_'">
        <div class="text-center broadcast-message">{{message.text}}</div>
      </div>
      <div class="text-center" *ngIf="message.name === username">
        <div class="text-center pull-right">{{message.name}}</div>
        <div class="text-center pull-right">{{message.text}}</div>
      </div>
      <div class="text-center" *ngIf="message.name !== '_SYSTEM_' && message.name !== '_BROADCAST_' && message.name !== username">
        <div class="text-center pull-left">{{message.name}}</div>
        <div class="text-center pull-left">{{message.text}}</div>
      </div>
    </div>
  </div>
  <div style="width: 100%; border-left-style: ridge; border-right-style: ridge;">
    <textarea id="message"
              [(ngModel)]="currentMessage"
              style="width: 100%; padding: 5px 10px; border-style: hidden;"
              placeholder="Type message and press Enter to send..."></textarea>
  </div>
  <div style="overflow: auto; border-style: ridge; border-top-style: hidden;">
    <button class="btn-warning pull-right" id="echo" (click)="echo()">Echo</button>
    <button class="btn-success pull-right" id="sendmessage" (click)="sendMessage()">Send</button>
  </div>
</div> 